.file-selected {
	border: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: rgb(0, 174, 255);
	background-color: rgb(124, 237, 255);
}

.element_container:hover {
	background-color: rgba(124, 238, 255, 0.349);
}

.element_container {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
}

.element_container img {
	height: 20px;
}

dialog {
	width: 40%;
	/* max-height: 55% */
}

.dialog-title-bar {
	/* border: 1px solid #000000; */
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.dialog-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-height: 300px;
	margin-bottom: 10px;
	border: 1px solid #000000;
}

.dialog-file-list {
	flex: auto;
	/* border: 1px solid #000000; */
	overflow: auto;
	width: 70%;
}

.dialog-file-preview {
	/* border: 1px solid #000000; */
	border-left: 1px solid #000000;
	width: 30%;
}

.dialog-file-preview img {
	max-width: 100%;
	margin-top: 10px;
}

.file-preview {
	margin: 10px;
}

.vertical-center {
	margin-top: auto;
	margin-bottom: auto;
}

.align-right {
	margin-left: auto;
}