/*
	v0.0.7

	31/10/2023
	* added width for the search input
	
	27/09/2023
	* made the file explorer dialog fixed size

	02/09/2023
	* added styles for the dialogs
	-	* red button for the delete button and non button
	-	* styles for the buttons
*/

#explorerDialog , #comfirmDeleteDialog , #newFolderDialog, #uploadProgressDialog {
	border: solid gray 2px;
	border-radius: 10px;
}

#title-bar-search {
	margin-right: 5px;
	width: 20ch;
}

.file-selected {
	border: solid;
	border-radius: 5px;
	border-width: 1px;
	border-color: rgb(0, 174, 255);
	background-color: rgb(124, 237, 255);
}

.element_container:hover {
	border-radius: 5px;
	background-color: rgba(124, 238, 255, 0.349);
}

.element_container {
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
	/* prevent selection */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.prevent-select {
	/* prevent selection */
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.element_container img {
	height: 20px;
}

#explorerDialog {
	width: 60%;
}

.dialog-title-bar {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.dialog-action-buttons {
	display: flex;
	flex-direction: row;
}

.dialog-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 400px;
	margin-bottom: 10px;
	border: 1px solid #000000;
}

.dialog-file-list {
	flex: auto;
	overflow: auto;
	width: 70%;
}

.dialog-file-preview {
	border-left: 1px solid #000000;
	width: 30%;
}

.dialog-file-preview img {
	max-width: 100%;
	margin-top: 10px;
}

.file-preview {
	margin: 10px;
}

.vertical-center {
	margin-top: auto;
	margin-bottom: auto;
}

.align-right {
	margin-left: auto;
}

/* #title-bar-button-sup svg {
	stroke: white;
} */

dialog button {
	margin-right: 5px;
	text-align: center;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: rgb(191, 226, 253);
	background-color: white;
	padding: 4px 7px;
}

dialog button:hover {
	background-color: rgb(224,238,249);
}

dialog button:disabled {
	background-color: white;
}

button#title-bar-button-sup, #comfirmDeleteDialog button#btn-delete-non {
	border-color: rgb(255, 191, 191);
	background-color: rgb(255, 180, 180);
}

button#title-bar-button-sup:hover, #comfirmDeleteDialog button#btn-delete-non {
	background-color: rgb(255, 145, 145)
}

button#title-bar-button-sup:disabled {
	background-color: rgb(255, 234, 234);
}

#explorerDialog .last-button {
	margin-right: 0px;
}

#errorMessageDialog {
	border: solid red 5px;
	border-radius: 10px;
}

#errorMessageDialog button, #comfirmDeleteDialog button, #newFolderDialog button {
	margin-top: 10px;
}

progress {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 5px;
	height: 20px;
}

progress::-webkit-progress-value {
	background-color: rgb(0, 149, 255);
	border-radius: 7px;
	box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
  }